# Ignorar entorno virtual
.venv/
venv/
ENV/

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorar datos grandes
*.npz
*.tar.gz
*.zip
*.h5
*.keras

# Ignorar outputs temporales
*.log
